extends template
block content
    style
        include style.css
    div.main
        div.header
            | Forgot password verification code
        div.info
            p.text Please enter the following code:
            p.code #{verificationCode}

